.modal {
	position: relative;
}

.modal__button {
	padding: 10px 20px;
	background: greenyellow;
	border-radius: 10px;
}

.modal__content {
	position: fixed;
	inset: 0;
    background: #fff;
	display: none;
	z-index: 1000;
}

.modal__content_active {
	display: block;
}

.modal__content-header {
	display: flex;
    padding: 10px;
    background: #ae8d63;
    justify-content: end;
}

.modal__close-btn {
	background: none;
	padding: 3px 5px;
	border-radius: 2px;
	background: red;
	color: #fff
}

.modal__content-body {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    background: #eee;
    border-radius: 23px;
    color: red;
    font-weight: 700;
}